  <% @posts.each do |post| %>
  <div>
    <div class="well">
      <h5><%= post.title %></h5>
      <h5 class="muted"><%= post.author %> - <span><%= post.created_at %></span></h5>
      <p><%= post.intro %></p>
      <br>
     
      <% if current_user %>
     
      <%= link_to 'Edit', edit_post_path(post) %> | 
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %> | 
      <% else %>
      <% end %>
       <%= link_to 'Show', post %>
    </div>
  </div>

  <% end %>
<% if current_user %>
  <%= link_to 'New Post', new_post_path %>
<% end %>
