<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "TheTattooedGeek" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body>
<div class="container">
    <div class="page-header">
      <h1>TheTattooedGeek.com</h1>
      <h2><small>I make cool things on the web..</small></h2>
    </div>
    <div class="navbar navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">TheTattooedGeek.com</a>
          <div class="container-fluid nav-collapse">
            <form class="navbar-form pull-right">
              <input type="text" class="form-control" style="width: 200px;">
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav pull-right">
              <li><%= link_to "Home", "/"  %></li>
              <li><%= link_to "About", page_path('about') %></li>
              <li><%= link_to "Contact", new_contact_path %></li>
              <% if current_user %>
                <li><%= link_to "Logout", logout_path %></li>
              <% else %>
                <li><%= link_to "Login", login_path %></li>
              <% end %>
            </ul>
            </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
 
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li>
              <a href="https://twitter.com/TheTattooedGeek" data-show-count="false" data-lang="en"><img src='<%= image_path('twit32.png') %>'>Follow Me!</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              </li>
              <li class="nav-header">Twitter</li>
              
              <% cache "tweets#{Date.today}" do %>
                <% Tweeter.order("tweet_id desc").limit(3).each do |tweeter| %>
                  <li><blockquote><%= tweeter.content %></blockquote>
                  <div class="from">&mdash; @<%= tweeter.screen_name %></div></li>
                <% end %>
              <% end %>
            </ul>
            <ul class="nav nav-list">
              <li class="nav-header">Projects</li>
              <li>SoldierUp.net - Coming Soon</li>
              <li>1800Justice.com - Coming Soon</li>
              <li><a href="https://github.com/jonathanemmett/BlogApp">Ruby Blog</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
      </div><!--/row-->
    </div><!-- /container -->
    <div class="container"> 
      <div class="row-fluid">
          <div class="row-fluid">
            <div class="span12">
              <div class="span8">
                <p class="muted">© 2013 TheTattooedGeek.com. All rights reserved</p>
              </div>
              <div class="span4">
                <p class="muted pull-right">
                  Powered By <img class="rails-image" src='<%= image_path('development-ruby_on_rails.png') %>'> .
                </p>
              </div>
            </div>
          </div>
      </div>
    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
